<% var _default = json['default'];for ( var key in _default ){if ( typeof data[key] === 'undefined'){data[key] = _default[key];}}
 %><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= data['og_type'] %>: http://ogp.me/ns/<%= data['og_type'] %>#">
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= data['title'] %></title>
	<meta name="keywords" content="<%= data['keywords'] %>">
	<meta name="description" content="<%= data['description'] %>">
	<meta property="og:site_name" content="<%= data['sitename'] %>">
	<meta property="og:locale" content="ja_JP">
	<meta property="og:type" content="<%= data['og_type'] %>">
	<meta property="og:title" content="<%= data['title'] %>">
	<meta property="og:description" content="<%= data['description'] %>">
	<!-- <meta property="og:image" content="/assets/img/og-image.png"> -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="<%= data['title'] %>">
	<meta name="twitter:description" content="<%= data['description'] %>">
	<!-- <meta name="twitter:image" content="/assets/img/og-image.png"> -->
	<link rel="stylesheet" href="<%= data['dir'] %>assets/css/style.min.css">
</head>
<body>
