<% const page ={id: 'component'} ; %><%- include('../_inc/_header', {data: json[page.id], page:page}) %>

<%- include('_01_btn') %>
<%- include('_02_title') %>
<%- include('_03_icon') %>
<%- include('_04_form') %>
<%- include('_05_text') %>
<%- include('_06_navi') %>
<%- include('_07_img') %>
<%- include('_08_list') %>
<%- include('_09_table') %>
<%- include('_10_line') %>
<%- include('_11_video') %>
<%- include('_12_slide') %>
<%- include('_99_other') %>

<%- include('../_inc/_footer', {data: json[page.id], page:page}) %>
